*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 48px;
    font-style: normal;
}

.tete{
    display: flex;
    width: 100%;
    padding: 10px;
    border-bottom: solid 1px rgb(220, 220, 220);
}

.tete span{
    position: relative;
    margin-left: 50px;
    font-size: 20px;
    top: 12px;
    min-width: 200px;
    font-size: 30px;
    font-weight: bold;
    color: #1376A7;
}

.tete h3{
    position: relative;
    margin-left: 35%;
    top: 12px;
}

.tete form{
    position: relative;
    left: 30%;
    top: 7px;
}

.tete form button{
    border: none;
    background-color: transparent;
}

.tete form button img{
    width: 50px;
    height: 50px;
}

.chat_box{
    display: flex;
}

.chat_box .discussion{
    height: 89vh;
    padding: 15px;
    width: 350px;
    border-right: solid 1px rgb(220, 220, 220);
    overflow-y: auto;
}

.chat_box .discussion input{
    min-width: 250px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    border: solid 1px #1376A7;
}

.contact {
    display: flex; /* Établit un contexte de flexbox */
    align-items: center;; /* Aligne verticalement les éléments au centre */
    justify-content: left;
    position: relative;
    top: 15px;
    margin-top: 15px;
    transition-duration: 0.8s;
    padding: 5px;
  }
  
  .contact:hover{
    background-color: #f5f5f5;
  }
  .contact img {
    /* Définir une largeur pour l'image si nécessaire */
    width: 50px;
    height: auto;
    margin-right: 10px; /* Ajoute un espace entre l'image et le texte */
  }

  .contact h6{
    display: none;
  }

 a{
    text-decoration: none;
    color: black;
 }
 .messages{
    padding: 10px;
    background-image: url("../Images/chat_background.jpg");
    background-size: cover;
    width: 100%;
 }

 .messages .envoyeur{
    position: relative;
    background-color: #1376A7;
    color: white;
    margin-top: 15px;
    width: 350px;
    padding: 12px;
    margin-left: 70%;
    border-radius: 10px;
 }

 .envoyeur span,
 .receveur span {
     word-wrap: break-word; /* Permet de casser les mots longs */
     word-break: break-all; /* Force le texte à passer à la ligne même au milieu d'un mot */
     display: inline-block; /* Important pour que la largeur fonctionne correctement */
     max-width: 340px; /* Définissez la largeur maximale souhaitée */
 }
 

 .messages .receveur{
    position: relative;
    background-color: aliceblue;
    margin-top: 15px;
    padding: 12px;
    margin-left: 2%;
    border-radius: 10px;
    width: 350px;
 }

 .saisie {
    position: relative;
    display: flex; /* Établit un contexte de flexbox */
    align-items: center; /* Aligne verticalement les éléments au centre */
    justify-content: left; /* Aligne horizontalement les éléments au centre */
    background-color: white;
    border: solid 1px #55a2c9;
    border-radius: 5px;
    top: 30px;

}
.media{
    text-align: center;
}

.saisie input[type="text"] {
    padding: 4px; /* Ajoute du rembourrage à l'input */
    border: 1px solid #ccc; /* Bordure grise claire */
    border-radius: 4px; /* Coins arrondis */
    width: 880px; /* Largeur de l'input, ajustez selon vos besoins */
    position: relative;
    bottom: 9px;
    padding: 7px;
    right: 40px;
   
}

.saisie button {
    position: relative;
    background-color: transparent;
    border: none; /* Supprime la bordure par défaut */
    border-radius: 4px; /* Coins arrondis */
    cursor: pointer; /* Change le curseur en main au survol */
    padding: 10px; /* Ajoute du rembourrage au bouton */
    right: 20px;
}

.saisie button img {
    width: 35px; /* Ajustez la taille de l'image dans le bouton si nécessaire */
    height: auto; /* Garde le ratio de l'image */
    top: 3px;
    position: relative;
    right: 10px;
}

.chat{
    overflow-y: auto;
    height: auto;
    height: 70vh;
}

#fichier{
    position: relative;
    bottom: 12px;
}
input[type=file]::file-selector-button {
    position: relative;
    border: none;
    background: #1376A7;
    padding: 8px 12px;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
  }
  